    <section class="user-background" id= "assessment-img">

        <div class="container">
             <div class="row">

             

                <div  class="intro-text col-lg-8 video-container assessment-pops" >
                <div class="do center-block">
                    <h2 id="first-workout"> Learn More </h2>
                    </div>
            
                 <iframe id="vzvd-7048367" name="vzvd-7048367" title="vzaar video player" class="vzaar-video-player center-block" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/7048367/player"></iframe>

                </div>

                    <div class="intro-text col-lg-4  center-block">
                <div class="card card-price center-block">

                            <div class="content">

                                <h6 class="category">Regular Plan</h6>
                                <h1 class="price" >
                                    <small>$</small>15<small> /mo</small>
                                </h1>                        
                                <p class="text-center"> Are you active duty military or a veteran? </p> 

                                <h6 class="category">Active Duty / Veterans Plan</h6>
                                <h1 class="price" >
                                    <small>$</small>12.95<small> /mo</small>
                                </h1>                        

                                <p class="text-center"> Join Reel Movement then email us your&nbsp;DD&nbsp;-&nbsp;214&nbsp;and&nbsp;receive&nbsp;a discounted&nbsp;membership <i class="icon-happy"></i> </p>                     
                                                    
                                
                                
                            </div>

                            <div class="footer">
                           <a class="btn btn-fill btn-success center-block" href="mailto:info@reelmovement.com?subject=Proof%20of%20military%20service%20"> Email us your proof of service (e.g DD-214)</a>
                            </div>
 </div>

                    </div>
                    
               
            </div>
            </div>
</section>



    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Reel Movement</h2>
                    <h3 class="section-subheading text-muted"> We are a veteran owned company.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                <img src="https://s3.amazonaws.com/reelmovement/ryan.jpg" class="img-responsive img-circle danny-img center-block" alt="">
                        <h4>Daniel Ponce</h4>
                        <p class="text-muted sofia-extra-light-italic">CEO</p>

                  
                </div>
               
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-left my-life">I have spent years of my life training and developing individuals to perform at their peak physical performance.I spent 4 years in the Marine Corps, as an Infantryman,  training marines for combat overseas. After the military, I trained law enforcement officers, civilians, and military in martial arts. I have my bachelors in Sports Science and Masters in Strength and conditioning. Reel Movement is an accumulation of this knowledge. Whether you want to get in better shape, lose weight, or you are in the military and you want to pass your next performance test. Reel Movement has a program for you.</p>
                </div>
            </div>
        </div>
    </section>


<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="sec">TESTIMONIALS</h2>
                    <h3 class="section-subheading text-muted"> Find out what others think</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/reelmovement/french-1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Trevyn French</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Daniel was my Team Leader and he  got me in the best shape of my life for a combat deployment to Iraq. Reel Movement is a product of Daniel's training techniques and it will get you in the best shape of your life.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/reelmovement/v1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Daniel Villalobos</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Daniel was in my platoon in the Marine Corps and together we did two consecutive deployments to Iraq. Together we prepared for these rigourous deployments overseas. Daniel whipped me into great shape and showed me how to structure my diet for optimal performance and weight loss.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/reelmovement/ryan.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ryan Woodruff</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">  In the military, Daniel pushed me and gave me results that I never believe I could have achived. Now, I use Reel movement and continue to see great results </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://s3.amazonaws.com/reelmovement/kov.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>John Koverman</h4>
                                   
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> There is no one else I would rather have at my side. whether it is in combat or as a groomsman at my wedding (Which he was <i class="icon-happy"></i>). If you want to get in better shape there is no one better!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


   </div> <!-- end of container -->  

    