<div class="subscription-form">
 <%= form_for(:subscription, :url => {:action => 'create'}) do |f| %>

                            <div> 
                               
                              <%= f.check_box :subscribed, {}, "true", "false"%>
                              <%= label_tag(:subscribed, "Accept our terms and policies") %> 
                            </div>

                            
                            <div class="actions">
                            <%= f.submit "Start your free 2 weeks now!", class: 'btn btn-success btn-fill btn-block' %>
                            </div>

                       
                          <% end %>

       
</div>



<script type="">
	$( document ).ready(function() {
    console.log( "ready!" );

$('.subscription-form').validate({
  rules : {
             'subscription[subscribed]' : { required : true
                         } 
          }//end of rules


});

</script>