<header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Reel Movement!</div>
                <div class="intro-heading">The future of fitness</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

        <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted"> We help you reach your goals.</h3>
                </div>
            </div>
            <div class="row">
                
               
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                         <%= image_tag "workout.jpg", class: "img-responsive"  %> 
                    </a>
                    <div class="portfolio-caption">
                        <h4> Exercise Programs </h4>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                         <%= image_tag "correctiveexercise.jpg", class: "img-responsive"  %> 
                        
                    </a>
                    <div class="portfolio-caption">
                        <h4> Corrective Exercise</h4>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>

                        <%= image_tag "cleaneating.jpg", class: "img-responsive"  %> 
                       
                          
                    </a>
                    <div class="portfolio-caption">
                        <h4> Clean Recipes </h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


  <!-- Services Section -->
    <section id="services">
        <div class="container box">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prices</h2>
                    <h3 class="section-subheading text-muted">$15 per month</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Receive a Free Fitness Assesment</h4>
                    <p class="text-muted text-left"> After you take our online fitness assesment, we will be able to prescribe a program made to help you reach your fitness goals. Whether it is losing 10 to 15 pounds, gaining more mucsle definition, or maybe you just want to improve your heath. Regardless of your goals we have a program for you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unlimited access to all programs</h4>
                    <p class="text-muted text-left"> For just 15 dollars a month you have access to hours of footage.  This includes strentgh training, core training, and cardiovascular training programs. Don't forget our corrective exercise programs and our clean eating recipes taught to you by professional chefs. Bon Appetit!</p>
                                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">No contract or commitments</h4>
                    <p class="text-muted text-left"> Remember consistency and commitment is key to achieving your desired results but we understand that sometimes things come up. At Reel movement you can cancel or suspend your account at anytime</p>
                </div>
            </div>
        </div>
    </section>



