<section class= "bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <h3 class="text-center"> You forgot to enter your payment information</h3>
                <div class="card card-price">

                            <div class="content">

                                <h6 class="category">Your Plan</h6>
                                <h1 class="price">
                                    <small>$</small>14<small> /mo</small>
                                </h1>                        
                                
                                <ul class="list-unstyled list-lines">
                                    <li>
                                      <i class="fa fa-check"></i> <b>Unlimited</b> access to all programs, recipes, and corrective exercise
                                    </li>
                                    <li>
                                      <i class="fa fa-check"></i>  <b>Constant</b> updates and new programs
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>  <b>Learn</b> to cook healthy meals
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> </i> <b>Cancel</b> anytime
                                    </li>
                                </ul>
                            </div>

                            <div class="footer">
                              <%= render 'layouts/stripeform' %>
                            </div>
 </div>
 <div class="col-md-2"></div>
                
            </div>
        </div>
    </div>
</section>