<section>
	<iframe id="vzvd-7048367" name="vzvd-7048367" title="vzaar video player" class="vzaar-video-player center-block" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/7048367/player"></iframe>

</section>