<section>


 <div class="container">

            <div class="row">
  
         
            
                 <div class="user-program video-container program-video">
                    
                     
           <iframe id="vzvd-7048367" name="vzvd-7048367" title="vzaar video player" class="vzaar-video-player center-block" type="text/html" width="768" height="432" frameborder="0" allowFullScreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="//view.vzaar.com/7048367/player"></iframe>
                </div>
          
        </div>
	
 </div>
</section>