<section>
<div id="subscribe_user">

 <%= form_for(:subscription, :url => {:action => 'create'}) do |f| %>

                            <div class="form-group"> 
                               
                               
                              <%= f.check_box :subscribed, {}, "true", "false" %>
                            </div>

                            
                            <div class="actions">
                            <%= f.submit "Start your free 2 weeks now!", class: 'btn btn-info btn-fill btn-block' %>
                            </div>

                          </div>
                          <% end %>

        </div>
</section>