<section>
	<div class="container">
	             <div class="row">
	                <div class="intro-text col-lg-3">
	               

	             <%  @program.each do |p| %> 
	             <%=  p.frame %>
	             <% end %>
	                </div>
	                
	            </div>
	</div>

</section>	