/**
 * Site header
 */

 

.site-header {
    min-height: 56px;
    background: lighten($brand-primary, 10%);

    // Positioning context for the mobile navigation icon
    position: relative;
}


.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: white;
    }
}

.waypoint-nav{
    background:white;
    position:fixed;
    width:100%;
    z-index:1;
    margin-top: -57px;
    border-bottom:$gray-lighter solid 1px;

}

@include media-query($on-laptop) {

#waypoint-offer p{
    font-size: 14px;
    margin-top: 10px;

}

}

.hidden{
    display:none;
}

#waypoint-offer{
    padding:31px;
    
    a{
        font-size:16px;
        text-decoration:none;
    } 

    p{
        color: $brand-primary;

    }   


     @include media-query($on-palm) {
        #waypoint-p{ 
            display: none;
        }
        #waypoint-p-2{
            display:inline; 
            font-size: 16px;
            margin-left: 34px;
        }
        #waypoint-offer a{
            font-size: 14px;

        }

       #waypoint-offer a:hover{
        background: white;
        color:blue;
    }

        .btn{
            display:none;
        }
    }

}

#waypoint-p-2{ 
            display:none;
        }


#logo{
    width:50px;
    padding-right: 10px;
}


.btn{
    border: 2px solid  #05AE0E;
    border-radius: 5px;
    padding: 10px;
    margin-top: -54px;
    background: white;

    &:hover {
        background: #05AE0E;
        color:white;
    }
@include media-query($on-laptop) {
    padding: 2px;
    margin-top: -43px;
}
     @include media-query($on-palm) {
        .btn{ 
            font-size: 12px;
            padding: 5px;
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color:$brand-primary;
        }
    }
}

#article-image{
background-size: cover;
    height: 500px;
}

.social-buttons{
    margin-bottom: 50px;
}

#article-image h1{
 text-align: center;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons li:nth-last-child(-n+4) { 
     margin-top:50px;
}

.fb_iframe_widget {
    display: inline-flex !important;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */



.page-heading {
    font-size: 30px;
    text-align: center;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.rss-subscribe{
    float:left;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


#background-image {
  height: 650px;
  background: url("https://s3.amazonaws.com/reelmovement/articles.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3.125em;
    @include media-query($on-laptop) {
        height: 550px;
    @include media-query($on-palm) {
           height: 500px;
        }
    }
   }





.card{
    border-radius: $border-radius-large;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: #FFFFFF;
    margin: 25px 30px;
    width: 300px;
    height:500px;
    float:left;

    
    
    .image{
        overflow: hidden;
        height: 200px;
        border-radius: $border-radius-large-top;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      
        img {
            width: 100%;
        }
    }
    .filter{
        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,.68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        
        @include opacity(0);
        
        .btn{
            @include vertical-align();
        }
    }
    &:hover .filter{
        @include opacity(1);
    }
    .btn-hover{
        @include opacity(0);
    }
    &:hover .btn-hover{
        @include opacity(1);
    }
    .content{
        padding: 15px 15px 10px 15px;
    }
    .category{
        font-size: 18px;
        color: $dark-gray;
        margin-bottom: 0px;
        
    }
    
    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    .footer{
        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;
    }
    .footer div{
        display: inline-block;
    }
    .stats{
        margin-right: 5px;
        color: $dark-gray;
        
    }
    .stats.pull-right{
        margin-left: 5px;
        margin-left: 0;
    }
    
    .author{
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .author i{
        font-size: 18px;
    }
    h6{
        font-size: 20px;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}

@media (min-width: 628px) and (max-width: 749px){

.card{
    margin: 25px 18%;
    width: 400px;
}

}

@media (min-width: 500px) and (max-width: 627px){

.card{
     width: 350px;
     margin: 25px 12%;
}

}

@media (max-width: 499px){
    .card{
     margin: 25px 12%;
}
}


.blog-heading{
 float:left;
 width: 100%;
 text-align: center;
 margin-top: 235px;
   color: lighten($brand-primary, 5%);
    font-size: 60px;
@include media-query($on-laptop) {
    font-size:45px;
    @include media-query($on-palm) {
          font-size: 30px;
          margin-top: 145px; 
        }
    }
    }

    .article-heading{
    color:white;
    }

@media (min-width: 1500px){
    
    #article-image{
    height: 800px;
}

    .blog-heading{
        margin-top: 345px;
    }
}
