

<p>Your subscription to Reel Movement has now been paid! We really appreciate it. To view and print your latest invoices, visit this link.<p>

<p>
RECEIPT #: [RECEIPT ID]

Bill to:
<%= user.name %>

[PLAN LEVEL NAME] – [START DATE] to [END DATE]

 <%= user.statement_descriptor %>

 Total: $ <%= user.statement_amount %>

Your next billing date will be [NEXT BILLING DATE].

If you have any questions, please reply to [CUSTOMER SERVICE EMAIL]

Reel movement </p>
