<h1>Welcome to Reel Movement <%= user.name %> </h1>


<p>Congratulations on taking your first step towards your goal of a new and healthier you. Reel Movement is going to aid you every step of your journey. Here are some good habits to start working on. <p>

<p>
<strong>Sleep:</strong> now that you are going to be training consistently it is important that you rest at least seven to eight hours a night in order to get the best results <p>

<p> <strong>Consistency:</strong> now that you have taken your online assessment we have provided you with the program that we feel best matches your level of training. Stick with it and don’t give up! </p>

<p> <strong>Healthy eating: </strong> Training is just one part of the equation you need the right fuel to back up your training. Make sure you take advantage of all the balance recipes designed by our professional chefs. </p>

<p> <strong> Education: </strong> Make sure you go through all of the different articles we provide so you can continue to learn about the human body and how it responds to exercise. You don’t only want to train hard you also want to train smart </p>

<p>It’s time for you to start getting all the benefits of training with Reel Movement. Good Luck with your training!<p>

<p>Founder and CEO of Reel Movement<p> 

<p>Daniel Ponce</p>
