<html>
  <body>

   <h3> whats up </h3>

    <p> OH no you have a dispute. they must be crazy</p>

    <ul>
    	<li> <%= customer.id %></li>
    	<li> <%= customer.name %></li>
    	<li> <%= customer.email %></li>

    </ul>

    <p> lets deal with this </p>

  </body>
</html>