
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@reelmovement" />
<meta name="twitter:creator" content="@reelmovement" />

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

<meta property="og:type" content="article">

<meta property="og:url" content="https://reelmovement.herokuapp.com{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<meta property="og:image" content="{% if page.image %}{{ page.image }}{% endif %}">

<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

<meta property="og:site_name" content="{{ site.title }}">

<meta property="og:locale" content="en_US">


<meta property="fb:app_id" content="{{ site.fb_appid }}">
