---
layout: default
---

<div class="home">

  <h1 class="page-heading">Articles</h1>

 

  {% for post in paginator.posts %}
<div class="card">
    
        <div class="image">
    
            <img class="img-responsive" src="{{post.image}}">
    
        </div>
    
        <div class="content">
    
            <p class="category"> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></p>
    
           
    
                <h4 class="title"> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </h4>
    
    
           
    
              <p> {{post.excerpt}} </p>
    
           
    
             <div class="footer">
    
                <div class="author">
    
                    <a class="card-link" href="#">
    
                         <img class="avatar" src="https://s3.amazonaws.com/reelmovement/daniel.jpg">
    
                         <span> {{post.author}}</span>
    
                    </a>
    
                </div>
    
            </div>
    
        </div>
    
    </div> 
 
   {% endfor %}

   

   
   {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>


