    <header>

        <div class="container">
             <div class="row">
                <div class="intro-text col-lg-8">
              <%= raw @program.code %>
                </div>
                <div class="intro-text col-lg-4">
                    <script type='text/javascript'>var _fo=_fo||[];_fo.push({'d':'center','c':'f7c7e1','i':14792});if(typeof fce=='undefined'){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=('https:'==document.location.protocol?'https://':'http://')+'formcrafts.com/js/fc.js';var fi=document.getElementsByTagName('script')[0];fi.parentNode.insertBefore(s,fi);fce=1;}</script><div id='f7c7e1'><a href='http://formcrafts.com/a/14792'>Assessment Form</a></div>
                </div>
            </div>
        </div>
    </header>

                   
    </section>


 

