<header>


        <div class="container">

            <div class="intro-text" class="profile-program">
              <%= raw current_user.program.code_one %>


            </div>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function(){ 
              $('ifame').fadeOut();
       
      });
           
        </script>


    </header>



