<!DOCTYPE html>
<html>

  {% include head.html %}
  

  <body>

    {% include header.html %}

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1063835490346190";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="page-content">

        <div id="article-image" style= "background-image: url('{{ page.image }}')">
     <h1 class="blog-heading article-heading">{{ page.title }}</h1>
        </div>



      <div class="wrapper bg-light-gray">
      <div class="social-buttons">
       

<div class="fb-share-button" data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-layout="button_count"></div>

        </div>



       

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>


</html>
