// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import "variables.scss";
@import "mixins.scss";



// Global Components

section{
   
   // z-index: 3;
 //   background-image: url('http://basehold.it/i/44');
}

body {
	overflow-x: hidden;
	@include sofia-font;
    font-size: 1.25em;

}

.text-muted {
	color: $gray;
}

.text-primary {
	color: $brand-primary;
}

p {
    font-size:1em;
	line-height: 1.6;
    font-style: normal;
    font-weight: 200;
    @include sofia-font;
    margin: 0 0 1.6em 0;

    
}

.tips-header{
    margin-top: 50px;
    margin-bottom: 50px; 
}

#tips li{
    font-size:1em;
    line-height: 1.2;
    font-style: normal;
    font-weight: 200;
    @include sofia-font;
    margin: 0 0 1.6em 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
    text-decoration: none;
}

a {
	color: $brand-primary;
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken($brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
	@include acta-font;
}

h1{
  font-size:2.441em; 
  line-height: 1.1em; 
}

h2{
    font-size:1.953em;
    line-height: 1.2em; 
}

h3{
    font-size: 1.563em;
    line-height: 1.3em; 
}

h4{
    font-size:1.25em;
}


.intro-lead-in {
            margin-top: 150px;
            }

#fittext{
    width:75%;

}    

#fittext2{
    width: 45%;

}            



.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: $gray-lighter;
}

.bg-darkest-gray {
	background-color: $gray-darkest;
}


// Restyled Primary Buttons

.btn{
    border-width: $border-thick;
    background-color: $transparent-bg;
    font-weight: $font-weight-normal;
    
    @include opacity(.8);
    padding: $padding-base-vertical $padding-base-horizontal;
    
    @include btn-styles($default-color, $default-states-color);
    
    &:hover,
    &:focus{
        @include opacity(1);
        outline: 0 !important;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include box-shadow(none);
         outline: 0 !important;
    }
    
    &.btn-icon{
        padding: $padding-base-vertical;
    }
    
}
// Apply the mixin to the buttons
//.btn-default { @include btn-styles($default-color, $default-states-color); }
.btn-primary { @include btn-styles($primary-color, $primary-states-color); }
.btn-success { @include btn-styles($success-color, $success-states-color); }
.btn-info    { @include btn-styles($info-color, $info-states-color); }
.btn-warning { @include btn-styles($warning-color, $warning-states-color); }
.btn-danger  { @include btn-styles($danger-color, $danger-states-color); }
.btn-neutral { 
    @include btn-styles($white-color, $white-color);
    
    &:active,
    &.active,
    .open > &.dropdown-toggle{
         background-color: $white-color;
         color: $default-color;
    }    
    
    &.btn-fill,
    &.btn-fill:hover,
    &.btn-fill:focus{
        color: $default-color;
    }
    
    &.btn-simple:active,
    &.btn-simple.active{
        background-color: transparent;
    }
}

.user-button{
    background: $white-color;
}
.btn{
     &:disabled,
     &[disabled],
     &.disabled{
        @include opacity(.5);
    }
}
.btn-round{
    border-width: $border-thin;
    border-radius: $btn-round-radius !important;
    padding: $padding-round-vertical $padding-round-horizontal;
    
    &.btn-icon{
        padding: $padding-round-vertical;
    }
}
.btn-simple{
    border: $none;
    font-size: $font-size-medium;
    padding: $padding-base-vertical $padding-base-horizontal;
    
    &.btn-icon{
        padding: $padding-base-vertical;
    }
}
.btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
   font-weight: $font-weight-normal;
}
.btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);    
}
.btn-xs {
    @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $border-radius-small);
}
.btn-wd {
    min-width: 140px;
}

.btn-group.select{
    width: 100%;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}


// forms

.checkbox {
  
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

// Custom Navigation Bar

/*           Navigation Bar             */



.navbar{
    padding-bottom: 20px;
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 14px;
    background: $gray-lighter;
}

.navbar li a{
    text-decoration: none;

}
.navbar .navbar-brand {
    font-weight: 600;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 20px;
}
.navbar-nav > li > a {
    margin: 6px 3px;
    padding: 6px 7px;
    text-align: center;
    min-width: 70px;

}
.navbar-nav > li > a [class^="fa"]{
    font-size: 18px;
}
.navbar-brand{
    padding: 20px 15px;
}
.navbar .navbar-nav [class^="icon"]{
    font-size: 32px;
    position: relative;
}
.navbar .navbar-nav p{
    margin: 5px 0 0;
    font-size: 14px;
}
.navbar .btn{
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-default:not(.navbar-transparent) {
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent{
    padding-top: 15px;
    background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand{
    color: #FFFFFF;
    opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #5E5E5E;
}
.navbar-transparent .nav .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-align: center;
}

.navbar-transparent .navbar-nav > li > a{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}
    
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(43, 43, 43, 0.1);
    border-radius: 4px;
    color: #555555;
    opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #2C93FF;
    border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: rgba(255, 255, 255, 0);
    color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    opacity: 1;
}
.navbar .label{
    background-color: #FF4C40;
    position: absolute;
    right: -10px;
    top: 0px;
    font-size: 10px;
    font-family: "Helvetica Neue";
    text-shadow: none;
}
[class*="navbar-ct"] .label{
    background-color: #FFFFFF;
    color: #FF4C40;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover{
    color: #2C93FF;
    border-color: #2C93FF;
}
.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
[class*="navbar-ct"] .btn-default.btn-fill{
    color: #777777;
    background-color: #FFFFFF;
    opacity: 0.9;
}
[class*="navbar-ct"] .btn-default.btn-fill:hover, [class*="navbar-ct"] .btn-default.btn-fill:focus, [class*="navbar-ct"] .btn-default.btn-fill:active, [class*="navbar-ct"] .btn-default.btn-fill.active, [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default{
    border-color: #FFFFFF;
    opacity: 1;
}
.navbar-form{
    box-shadow: none;
}
.navbar-form .form-control{
    background-color: rgba(244, 244, 244, 0);
    border-radius: 0;
    border:0;
    height: 22px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #777777;
}
.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control{
    color: #FFFFFF;
    border: 0;
/*     border-bottom: 1px solid rgba(255,255,255,.6); */
}
.navbar:not(.navbar-transparent).navbar-ct-blue{
    background-color: #34ACDC;
    background-color: rgba(52, 172, 220, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-azzure{
    background-color: #5BCAFF;
    background-color: rgba(91, 203, 255, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-green{
    background-color: #4cd964;
    background-color: rgba(76, 217, 98, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-orange{
    background-color: #FF9500;
    background-color: rgba(255, 152, 0, 0.97);
}
.navbar:not(.navbar-transparent).navbar-ct-red{
    background-color: #FF4C40;
    background-color: rgba(255, 76, 64, 0.98);
}

.dropdown-menu > li > a {
    padding: 8px 20px;
    color: #333333;
}
.dropdown-menu > li:first-child > a{
    border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F5F5F5;
    color: #333333;
    opacity: 1;
    text-decoration: none;
}


.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: $brand-primary;
        border-color: $brand-primary;
        .icon-bar {
            background-color: white;
        }
        &:hover,
        &:focus {
            background-color: $brand-primary;
        }
    }

.navbar-toggle{
    margin-bottom: 27px;
    margin-top: 27px;
    border: 0;
}

.navbar-collapse, .navbar-form {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    float: left;
    overflow: hidden;
    margin-top: -45px;
}

.navbar-default .navbar-brand-logo .brand{
    color: #555;
}




header {
background-image: url('https://s3.amazonaws.com/reelmovement/planks1.jpg');
	background-repeat: none;
	background-attachment: scroll;
	 background-position: 50% 70%;
	@include background-cover;
	text-align: center;
	color: white;
	
}



// Global Section Styles

section {
    padding: 100px 0;
   
}


// Services Section


.user-background{
    padding-top: 150px;
        padding-bottom: 50px; 
}

#assessment-img{

    background: image-url('mountain_climbers.jpg'); 
    background-repeat: none;
    background-attachment: scroll;
    background-position: 60% 40%;
    @include background-cover;   
}

.assessment-card{
    height:500px;
}

#program-img{

    background: image-url('planks.jpg'); 
    background-repeat: none;
    background-attachment: scroll;
    background-position: 60% 40%;
    @include background-cover;   
}

#allprogram{

  
     background-image: url("https://s3.amazonaws.com/reelmovement/FemaleJogging.jpg"); 
    background-repeat: none;
    background-attachment: scroll;
    background-position: 75% 35%;
    @include background-cover; 
    height:500px;  
}

// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
            background:rgba(lighten($brand-primary, 28%), .5);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
           .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
        	max-width: 400px;
        	margin: 0 auto;
        	background-color: white;
        	text-align: center;
        	padding: 25px;
        	h4 {
        		text-transform: none;
        		margin: 0;
        	}
        	p {
        		@include acta-font;
        		font-style: italic;
        		font-size: 16px;
        		margin: 0;
        	}
        }
    }
    * {
        z-index: 2;
    }
}


.portfolio-modal {

    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include acta-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color: transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color: $gray-darkest;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color: $gray-darkest;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;

    }
}



//prices

#prices{
	
	background: url('/assets/planks.jpg');
	height: 500px;
	margin-top: 20px;
}



.col-centered{

	float:none;
	margin: 0 auto;
}




.program{ 
    margin-left: -80px;
   
}


.card{
    border-radius: $border-radius-large;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: #FFFFFF;
    
    
    .image{
        width: 100%;
        overflow: hidden;
        height: 260px;
        border-radius: $border-radius-large-top;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      
        img {
            width: 100%;
        }
    }
    .filter{
        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,.68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        
        @include opacity(0);
        
        .btn{
            @include vertical-align();
        }
    }
    &:hover .filter{
        @include opacity(1);
    }
    .btn-hover{
        @include opacity(0);
    }
    &:hover .btn-hover{
        @include opacity(1);
    }
    .content{
        padding: 15px 15px 10px 15px;
    }
    .category{
        font-size: $font-size-base;
        color: $dark-gray;
        margin-bottom: 0px;
        
        i{
            font-size: $font-paragraph;
        }
    }
    .title{
        margin: $margin-bottom;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    .description{
        font-size: $font-size-base;
        color: #333;
    }
    .footer{
        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;
    }
    .footer div{
        display: inline-block;
    }
    .stats{
        margin-right: 5px;
        color: $dark-gray;
        
    }
    .stats.pull-right{
        margin-left: 5px;
        margin-left: 0;
    }
    .card-link{
        color: $dark-gray;
    }
    .author{
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
    .author i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}
.card-user{
    .image{
        height: 110px;
    }
    .image-plain{
        height: 0;
        margin-top: 110px;
    }
    .author{
        text-align: center;
        text-transform: none;
        margin-top: -70px;
    }
    .avatar{
        width: 124px;
        height: 124px;
        border: 5px solid #FFFFFF;
        position: relative;
        margin-bottom: 15px;
        
        &.border-gray{
            border-color: #EEEEEE;
        }
    }
    .title{
        line-height: 24px;
    }
    .content{
        min-height: 240px;
    }
}

.card-product{
    .image{
        height: auto;
    }
    .title{
        margin: 0;
    }   
    .price{
        font-size: 18px;
        color: $dark-gray;
        font-weight: $font-weight-light;   
    }
    .price-old{
        text-decoration: line-through;
        font-size: $font-paragraph;
        color: $dark-gray;
    }
    .price-new{
        color: $danger-color;
    }
    .footer{
        line-height: 40px;
        margin: 0;
    }

    .carousel-control{
        width: 40px;
        text-shadow: 0 0 0;
        color: $dark-gray;
        @include opacity(0.7);
        
        &.left .fa{
            left: 5px;
        }
        &.right .fa{
            left: auto;
            right: 5px;
        }
        
        &:hover,
        &:focus{
            @include opacity(1);
        }
    }
    
}
.card-refine{
    .header{
        padding: 10px 15px 0px 15px;
       h4{
            line-height: 40px;
       }
    }
    .content{
        padding: 0;
    }
    .panel{
        background-color: $transparent-bg;
        border-bottom: 0;
        border-top: 1px solid $medium-gray;
    }
    .panel-heading{
        padding: 0;
        box-shadow: 0 0 0;
        border-radius: 0;
    }
    .panel-default > .panel-heading{
        box-shadow: 0 0 0;
        background-color: $transparent-bg;
    }
    .panel-group .panel-heading + .panel-collapse .panel-body {
        border: 0;
    }
    .panel-title a{
        padding: 17px 15px;
        display: block;
    }
    .slider{
        margin-top: 10px;
    }
    .radio,
    .checkbox{
        margin-top: -5px;
    }
    .price-left{
        float: left;
    }
    .price-right{
        float: right;
    }
    .panel-scroll{
        height: 273px;
        overflow-y: scroll;
    }
    
    .panel-group .panel + .panel{
        margin: 0;
    }
    .collapsed{
        i{
            @include rotate-180();
        }
    }    
}
.card-price{
    position: relative;
    .price{
        font-weight: $font-weight-light;
        text-align: center;
        font-size: 66px;
        small{
            margin-right: 4px;
            margin-left: -13px;
            color: $black-color;
        }
    }
    .category{
        text-align: center;
        margin-top: 10px;
    }
    .content{
        min-height: 330px;
    }
    .list-unstyled{
        padding-top: 20px;
        font-size: $font-size-base;
        text-align: center;
        color: $dark-gray;
        b{
            color: $black-color;
        }
        li{
            margin-bottom: 5px;
        }
    }
    .list-lines{
        text-align: left;
        li{
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid $light-gray;
        }
        li:last-child{
            border: 0;
        }
    }
    .fa{
        width: 26px;
        text-align: center;
        font-size: $font-paragraph;
    }
    &.card-price-best-deal{
        margin-top: -25px;
        
        .content{
            min-height: 380px;
        }
    }
    
}

.card-background{
    position: relative;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    .image{
        border-radius: $border-radius-large;
    }     
    .filter{
        @include opacity(0.55);
        border-radius: $border-radius-large;
    }
    &:hover .filter{
        @include opacity(0.75);
    }
    
    .title,
    .stats,
    .category,
    .description,
    small,
    a{
        color: $white-color;
    }
    small{
        font-weight: $font-weight-normal;
    }
    .title{
        margin-top: 30px;
        font-weight: $font-weight-normal;
    }
    .content,
    .footer{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
    }
    .footer{
        bottom: 0;
        top: auto;
        padding: 10px 15px;
        width: 100%;
        line-height: 40px;
        color: $white-color;
    }
    .avatar{
        border: 2px solid $white-color;
        width: 32px;
        height: 32px;
    }
    
    .video{
        overflow: hidden;
        border-radius: $border-radius-large;
        position: relative;
        max-height: 300px;
    }
    video{
        width: 100%;
        border-radius: $border-radius-large;
        -webkit-border-radius: $border-radius-large;
    }
    &.state-play .filter,
    &.state-play .content,
    &.state-play .category,
    &.state-play .btn,
    &.state-play .stats{
        @include opacity(0);
    }
    &.state-play:hover .btn{
        @include opacity(1);
    }
    .map{
        border-radius: $border-radius-large;
        height: 300px;
    }
    h1.title{
        font-weight: $font-weight-light;
    }
    .price{
        margin: 0;
        color: $white-color;
    }
}

.card-refine,
.card-product{
    .btn-xs{
        margin: 8px 0;
    }
    .btn-simple{
        padding-left: 0;
        padding-right: 0;
    }
}
.card-user,
.card-price{
    .footer{
        padding: 5px 15px 10px;
    }
    hr{
        margin: 5px 15px;
    }
}
.card-plain{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    
    .image{
        border-radius: 4px;
    }
}

.filter.filter-white{
    @include filter($white-color); 
}
.filter.filter-blue{
    @include filter($filter-blue); 
}
.filter.filter-azure{
    @include filter($filter-azure);
}
.filter.filter-green{
    @include filter($filter-green);
}
.filter.filter-orange{
    @include filter($filter-orange);
}
.filter.filter-red{
    @include filter($filter-red);
}


 body.modal-open div.modal-backdrop { z-index: 0; }




.btn-social { 
    //@include btn-styles($default-color, $default-states-color);
    opacity: 0.85;
    padding: 8px 9px;

    .fa {
        font-size: 18px;
        vertical-align: middle;
        display: inline-block;
    }

    &.btn-round {
        padding: 9px 10px;
    }

    &.btn-simple {
        padding: 9px 5px;
        font-size: 16px;

        .fa{
            font-size: 20px;
            position: relative;
            top: -2px;
            width: 24px;
        }
    }

}

.btn-facebook {
    @include social-buttons-color($social-facebook);
}

.btn-twitter {
    @include social-buttons-color($social-twitter);
}

.btn-pinterest {
    @include social-buttons-color($social-pinterest);
}

.btn-google {
    @include social-buttons-color($social-google);
}

.btn-linkedin {
    @include social-buttons-color($social-linkedin);
}

.btn-dribbble {
    @include social-buttons-color($social-dribbble);
}

.btn-github {
    @include social-buttons-color($social-github);
}

.btn-youtube {
    @include social-buttons-color($social-youtube);
}

.btn-stumbleupon {
    @include social-buttons-color($social-stumbleupon);
}

.btn-reddit {
    @include social-buttons-color($social-reddit);
}

.btn-tumblr {
    @include social-buttons-color($social-tumblr);
}

.btn-behance{
    @include social-buttons-color($social-behance);
}




@media (min-width: 768px){
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-search-form{
        display: none;   
    }
    .navbar-nav > li > .dropdown-menu, .dropdown .dropdown-menu{
        @include transform-scale(0);
        @include transition($slow-transition-time, $transition-bezier);
    }
    .navbar-nav > li.open > .dropdown-menu, .dropdown.open .dropdown-menu{
        @include transform-scale(1);
        @include transform-origin($dropdown-coordinates);        
       
    }
    
    .navbar-nav > li > .dropdown-menu:before{
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: -11px;
    }
    .navbar-nav > li > .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: -10px;
    }
    
    .navbar-nav.navbar-right > li > .dropdown-menu:before{
        left: auto;
        right: 12px;
    }
    
    .navbar-nav.navbar-right > li > .dropdown-menu:after{
        left: auto;
        right: 12px;
    }
    
    .footer:not(.footer-big){
        nav > ul{
           li:first-child{
             margin-left: 0;
           }
        }
    }
    
    body > .navbar-collapse.collapse{
        display: none !important;
    }
}

/*          Changes for small display      */

@media (max-width: 767px){ 
    .navbar-transparent{
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    body {
         position: relative;
    }
    .wrapper{
       @include transform-translate-x(0px);
       @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1)); 
       left: 0;
       background-color: white;
    }
    .navbar .container{
         left: 0;
          width: 100%;
         @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
         position: relative;
    }
    .navbar .navbar-collapse.collapse,
    .navbar .navbar-collapse.collapse.in,
    .navbar .navbar-collapse.collapsing{
        display: none !important;
    }
    
    body > .navbar-collapse {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 230px;
        right: 0;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        @include transform-translate-x(230px);
        @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
        ul {
            position: relative;
            z-index: 3;
            overflow-y:scroll;
            height: 95%;
        }
        .nav > li{
            border-bottom: 1px solid;
            &:last-child {
            border-bottom: 0;
            }
            & > a{
            margin: 15px 20px;
            }
        }
        &::after{
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: #282828;
            display: block;
            content: "";
            z-index: 1;   
        }
        &.has-image::after{
            @include black-filter(.8);
        }
    }   
    .nav-open .navbar-collapse{
        @include transform-translate-x(0px);
    }
    .nav-open .navbar .container{
        left: -230px;
    }
    .nav-open .wrapper{
        left: 0;
        @include transform-translate-x(-230px);
    }
    .navbar-toggle .icon-bar{
        display: block;
        position: relative;
        background: $white-color;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        margin: 0 auto;
    }
    
    .navbar-default .navbar-toggle .icon-bar{
        background-color: $white-color;
    }
    
    .navbar-header .navbar-toggle {
        margin-top: 12px;
        width: 40px;
        height: 40px;
    }
    .bar1,
    .bar2,
    .bar3 {
      outline: 1px solid transparent;
    }
    .bar1 {
      top: 0px;
      @include bar-animation($topbar-back);
    }
    .bar2 {   
      opacity: 1;
    }
    .bar3 {
      bottom: 0px;
      @include bar-animation($bottombar-back);
    }
    .toggled .bar1 {
      top: 6px;
      @include bar-animation($topbar-x);
    }
    .toggled .bar2 {
      opacity: 0;
    }
    .toggled .bar3 {
      bottom: 6px;
      @include bar-animation($bottombar-x);
    }
    
    @include topbar-x-rotation();
    @include topbar-back-rotation();
    @include bottombar-x-rotation();
    @include bottombar-back-rotation();
       
    @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @-moz-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    
    
    
    .navbar-nav {
        margin: 1px -15px;

        .open .dropdown-menu > li {
            & > a{
                padding: 15px 15px 5px 50px;
            }

            &:first-child > a{
                padding: 5px 15px 5px 50px;
            }

            &:last-child > a {
                padding: 15px 15px 25px 50px;
            }
        }    
    }
    
    [class*="navbar-"] .navbar-nav {
        & > li > a, > li > a:hover, > li > a:focus, .active > a, .active > a:hover, .active > a:focus, .open .dropdown-menu > li > a, .open .dropdown-menu > li > a:hover, .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:active {
            color: white;
           
        }

        & > li > a,
        > li > a:hover,
        > li > a:focus,
        .open .dropdown-menu > li > a,
        .open .dropdown-menu > li > a:hover,
        .open .dropdown-menu > li > a:focus{
            opacity: .7;
            background: transparent;
        }

        &.navbar-nav .open .dropdown-menu > li > a:active {
            opacity: 1;
        }

        & .dropdown > a{
            &:hover .caret {
                border-bottom-color: #777;
                border-top-color: #777;
            }
            &:active .caret {
                border-bottom-color: white;
                border-top-color: white;
            }
        }

    }
    
    .dropdown-menu {
        display: none;
    }
    .navbar-fixed-top {
        -webkit-backface-visibility: hidden;
    }
    #bodyClick {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 0;
        top: 0;
        left: auto;
        right: 230px;
        content: "";
        z-index: 9999;
        overflow-x: hidden;
    }
    
    .social-line .btn{
        margin: $margin-bottom;
    }
    .subscribe-line .form-control{
        margin: $margin-bottom;
    }
    .social-line.pull-right{
        float: none;
    }
    .footer nav.pull-left{
        float: none !important;
    }
    .footer:not(.footer-big) nav > ul li{
        float: none;
    }
    .social-area.pull-right{
        float: none !important;
    }
    .form-control + .form-control-feedback{
        margin-top: -8px;
    }
    .navbar-toggle:hover,.navbar-toggle:focus {
        background-color: transparent !important;
    }
    .btn.dropdown-toggle{
        margin-bottom: 0;
    }
    .media-post .author{
        width: 20%;
        float: none !important;
        display: block;
        margin: 0 auto 10px;
    }
    .media-post .media-body{
        width: 100%;
    }
        
}

//overwrite table responsive for 768px screens

@media (max-width: 768px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #dddddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}


.footer{    
    background-color: $white-color;
    line-height: $line-height;
        
    nav > ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
        
        a:not(.btn){
            color: $dark-gray;
            display: block;
            margin-bottom: 3px;
            &:hover,
            &:focus{
                color: $default-states-color;
            }
        }
    }
    .social-area{
        padding: 15px 0;
        h5{
            padding-bottom: 15px;
        }
    }
    .social-area > a:not(.btn){
       color: $dark-gray;
       display: inline-block;
       vertical-align: top;
       padding: $padding-social-a;
       font-size: $font-size-large-navbar;
       font-weight: normal;
       line-height: $line-height;
       text-align: center;
       &:hover,
       &:focus{
           color: $default-states-color;
       }
    }
    .copyright{
        color: $default-states-color;
        padding: 10px 15px;
        margin: 15px 3px;
        line-height: 20px;
        text-align: center;
    }
    hr{
        border-color: $medium-gray;
    }
    .title{
        color: $default-states-color;
    }
}

.footer:not(.footer-big){
    nav > ul{
       font-size: 16px;
       li{
            margin-left: 20px;
            float: left;
        }
        a{
            padding: 10px 0px;
            margin: 15px 10px 15px 0px;
        }
    }
}

.footer-default{
    background-color: darken($smoke-bg, 45%);
}

.footer-black,
.footer-transparent{
    background-color: $black-bg;
    color: $medium-gray;
    
    nav > ul{
        a{
            color: $white-color;
            &:hover,
            &:focus{
                color: $dark-gray;
            }
        }
    }
    .social-area > a:not(.btn){
        color: $white-color;
        &:hover,
        &:focus{
            color: $dark-gray;
        }
    }
    .btn-social{
        color: $white-color;
    }
    hr{
        border-color: $black-hr;
    }
    .title{
        color: $medium-gray;
    }
}

.footer-transparent{
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    .container{
        z-index: 2;
        position: relative;
    }
    
    &::after{
        @include black-filter(.8);    
    }
}

.footer-big{
    padding-top: 30px;
    
    hr{
        margin-bottom: 0;
        margin-top: 50px;
    }
    .copyright{
        margin: 10px 0px 20px;
    }
    .social-area > *{
        margin: 0 15px;
    }
    
    nav > ul{ 
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;   
        li{
            float: none;
        }
        .btn{
            margin-bottom: 5px;
        }
        .btn-social.btn-simple{
            padding: 0 0 4px 0;
        }
    }
    .form-group{
        margin-top: 15px;
    }
    .numbers h4{
        margin: $margin-bottom;
    }
}

.social-line{
    padding: $padding-large-vertical 0;
    background-color: $white-color;
    .title{
        margin: $none;
        line-height: $height-base;
        font-size: $font-size-h4;
    }
    .btn{
        width: 100%;
    }
}

.social-line-black{
    background-color: $black-bg;
    color: #FFFFFF;
}

.subscribe-line{
    background-color: #FFFFFF;
    padding: 25px 0;
    
    .form-group{
        margin: $none;
    }
    .form-control{
         height: auto;
         font-size: $font-size-h2;
         border: $none;
         padding: $none;
         font-weight: $font-weight-light;
         line-height: $line-height-lg;
         background-color: $transparent-bg;
    }
    
    .btn:not(.btn-lg){
        margin-top: 7px;
    }
}

.subscribe-line-black{
    background-color: $black-bg;
    
    .form-control{
        color: $white-color;
    }
}

.subscribe-line-transparent{
    @extend .footer-transparent;
    .form-control{
        color: $white-color;
    }
}



.form-control::-moz-placeholder{
   @include placeholder($medium-gray,1);
}
.form-control:-moz-placeholder{
   @include placeholder($medium-gray,1);
}  
.form-control::-webkit-input-placeholder{
   @include placeholder($medium-gray,1); 
} 
.form-control:-ms-input-placeholder{
   @include placeholder($medium-gray,1);
}

.form-control {
    background-color: $white-bg;
    border: 1px solid $medium-gray;
    border-radius: $border-radius-base;
    color: #444444;
    @include input-size($padding-base-vertical, $padding-base-horizontal, $height-base);
    @include box-shadow(none);
    
    &:focus{
           background-color: $white-bg;
           border: 1px solid $dark-gray;
           @include box-shadow(none);
           outline: 0 !important;       
    }
    
    .has-success &,
    .has-error &,
    .has-success &:focus,
    .has-error &:focus{
        border-color: $light-gray;
        @include box-shadow(none);
    }
    
    .has-success &{
        border-color: $success-color;
    }
    .has-success &:focus{
        border-color: $success-color;
    }
    .has-error &{
        color: $danger-color;
        border-color: $danger-color;
    }
    .has-error &:focus{
        border-color: $danger-color;
    }
    
    & + .form-control-feedback{
        border-radius: $border-radius-large;
        font-size: $font-size-base;
        margin-top: -7px;
        position: absolute;
        right: 10px;
        top: 50%;
        vertical-align: middle;
    }
    
    .open &{
        border-radius: $border-radius-base $border-radius-base 0 0;
        border-bottom-color: transparent;
    }
}

.input-lg{
    height: 55px;
    padding: $padding-large-vertical $padding-large-horizontal;
}

.has-error{
    .form-control-feedback{
        color: $danger-color;
    }
}
.has-success{
    .form-control-feedback{
        color: $success-color
    }
}


.input-group-addon {
    background-color: $white-color;
    border: 1px solid $light-gray;
    border-radius: $border-radius-base;
    
    .has-success &,
    .has-error &{
        background-color: $white-color;
        border: 1px solid $light-gray;
    }
    .has-error .form-control:focus + &{
        border-color: $danger-color;
        color: $danger-color;
    }
    .has-success .form-control:focus + &{
        border-color: $success-color;
        color: $success-color;
    }
    .form-control:focus + &,
    .form-control:focus ~ &{
        background-color: $white-color;
        border-color: $dark-gray;
    }
}

.input-group .form-control:first-child, 
.input-group-addon:first-child,  
.input-group-btn:first-child > .dropdown-toggle, 
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
}
.input-group .form-control:last-child, 
.input-group-addon:last-child,  
.input-group-btn:last-child > .dropdown-toggle, 
.input-group-btn:first-child > .btn:not(:first-child) {
    border-left: 0 none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: $light-gray;
    color: $default-color;
    cursor: not-allowed;
}

.input-group-btn .btn{
    border-width: $border-thin;
    padding: $padding-round-vertical $padding-base-horizontal;
}
.input-group-btn .btn-default:not(.btn-fill){
    border-color: $medium-gray;
}



.input-group-btn:last-child > .btn{
    margin-left: 0;
}

.input-group-focus .input-group-addon{
    border-color: $dark-gray;
}

.modal-header {
    border: 0 none;
}
.modal-content {
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.modal-dialog {
    padding-top: 60px;
}
.modal-footer {
    border-top: 0 none;
    padding: 10px 10px;        
}
.modal-footer .modal-footer .btn-default.btn-simple{
    font-weight: 400;
}

.modal.fade .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal.in .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal-small{
    .modal-dialog{
        max-width: 350px;
    }
}
.modal-small{
    .divider{
        margin: 0 auto;
        display: block;
        width: 14px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: $font-paragraph;
    }
    .divider:after{
        position: absolute;
        content: "";
        right: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $light-gray;
    }
    .divider:before{
        position: absolute;
        content: "";
        left: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $light-gray;
    }
    .modal-footer{
        text-align: center;
    }
}
.social-area{
    text-align: center;
    
    .btn-social{
        margin: 0 10px;
    }
}
.modal-backdrop.in {
    opacity: 0.25;
}


.plain-logo{
    width: 100px;
    padding: 10px;
}


@media (max-width: 600px){
    
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:89%;
}



}





#middle {
    opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
    background:black;
}

#terms{
    height: 200px;
    overflow:scroll;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    p{
        padding: 10px;
    }
}

#terms-button{
    margin-top: 50px;
    margin-bottom: 50px;

}


    .user-program{
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
}

#user-cards{
    
    margin-top: -50px;
    margin-bottom:-75px;
}

.content-title{
    color:white;
}

.card-button{
   margin-top: 125px;
}

.program-cards{
    margin-bottom: 50px;
    margin-top: 50px;
}


// program images

#general-conditioning {
    background-image: url("https://s3.amazonaws.com/reelmovement/lunges.jpg" ); 
     background-position: 30% 50%;

}

#resistance-training{
     background-image: url("https://s3.amazonaws.com/reelmovement/clappushups.jpg");
    
}

#core-conditioning {
    background-image: url("https://s3.amazonaws.com/reelmovement/planks.jpg" ); 
     background-position: 40% 35%; 


}

#cardiovascular-training  {
    background-image: url("https://s3.amazonaws.com/reelmovement/jumprope.jpg" );
     background-position: 20% 35%; 

}

#general-conditioning-3 {
    background-image: url("https://s3.amazonaws.com/reelmovement/General.jpg" );
     background-position: 60% 50%; 

}

#general-conditioning-2 {
    background-image: url("https://s3.amazonaws.com/reelmovement/sideLunge.jpg" );
     background-position: 50% 35%; 
 

}


.program-video iframe{
    opacity: 0.8;
}



.program-video iframe:hover,
.program-video iframe:focus,
.program-video iframe:active{
opacity: 1;
    
}


// keep footer at bottom of page

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

footer {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#header {
    padding:10px;
}
#content {
    padding-bottom:100px; /* Height of the footer element */
}

// end of footer

.call-to-action{
    background: $success-color;
    border-radius: 10%;

}

#assess-button a{
    color:white;
}


#tell-btn {
    color:white;
}

// recipes page
#recipe-background{
background-image: url("https://s3.amazonaws.com/reelmovement/clean-eating-meals.jpg" );
background-size: cover;
height:600px;
    
}

.recipe-card{
    margin: 0 15px 10px 15px;
     width:350px;
}


.recipe-card ul{
    padding-left: 0;
    list-style:none;
    margin-bottom: 30px;
}
.recipe-card li:first-child {
   
    padding-right:25px;
}

.cta-button{
    padding-left: 5%;
}


#program-list li:first-child{
margin-left:12em;   
}

#program-list li{
display:inline;
   
}

.program-title{
    color:white;
    margin-bottom: 50px;
    margin-top: 50px;
}

#program-list{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2em;
   
}

#schedule-p{
    max-width: 500px;
    margin-left: 5em;
    
   
}

#assessment-p{
    max-width: 500px;
   
}

.assess-schedule{
    margin-top: 65px;
    margin-bottom: 65px;
}

// background for corrective exercise page

#corrective-background{

     background-image: url("https://s3.amazonaws.com/reelmovement/corrective.jpg");
    background-attachment: scroll;
    background-position: 75% 80%;
    @include background-cover; 
    height:600px;  
}

//media queries


// drop down menu
@media (min-width: 768px){
    .navbar-nav > li > .dropdown-menu{
        display: block;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }
    
    .navbar-nav > li.open > .dropdown-menu{
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }
    
    .dropdown-menu:before{
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -11px;
    }
    
    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -10px;
    }
    
}

       
@media(min-width:768px) {
   
    .navbar-default.navbar-shrink {
        background-color: $gray-darkest;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }    
    }
}

@media(min-width:768px) {
//font-size for bigger screens

body{
    font-size: 1.625em;
}

    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            height:100%;
            .intro-lead-in {
                @include acta-font;
                margin-top:0;
                
            }
            
        }
    }

    .port-container p {
     padding-top:  1.875em;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}


@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

@media (min-width: 768px){    
    .card-horizontal{
        .image{
            border-radius: 6px 0 0 6px;
            
            img{
                height: 100%;
                width: auto;
            }
        }    
        .description{
            min-height: 100px;
        } 
        .content{
            padding: 15px 15px 10px 0;
        }   
    }
}



@media (min-width: 500px) and (max-width: 991px){

.port-container{
    max-width: 42rem;
}

}

// cta button
@media (min-width: 500px) and (max-width: 991px){

.cta-button{
    padding-left: 30%;
}

}

@media (max-width: 627px){ 
    .cta-button{
    padding-left: 27%;
    
}

}

@media (max-width: 501px){ 
    .cta-button{
    padding-left: 20%;
    
}

}

@media (max-width: 501px){ 
    .cta-button{
    padding-left: 12%;
    
}

}

// end of cta button media queries


@media (max-width: 768px){ 
     .navbar-transparent{
         padding-top: 15px;
         background-color: rgba(0, 0, 0, 0.45);
     }
     .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover, .navbar-transparent .dropdown-menu > li > a:focus, [class*="navbar-ct"] .dropdown-menu > li > a:hover, [class*="navbar-ct"] .dropdown-menu > li > a:focus{
         color: #FFFFFF;
         background-color: rgba(0,0,0,0);
         opacity: 1;
     }
     .navbar-transparent .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
         color: #FFFFFF;
         opacity: 0.8;
     }
     .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
         background-color: rgba(0,0,0,0);
         border-color: #428BCA;
     }
     .navbar-collapse{
         text-align: center;
     }
     .navbar-collapse .navbar-form {
         width: 170px;
         margin: 0 auto;
     }
     
 }

// big screens images

@media (min-width: 1500px){
    header {
    height: 1000px;
    }

    #allprogram{
    background-position: 50% 10%;
    }

#general-conditioning,#resistance-training,#core-conditioning,
#cardiovascular-training,#general-conditioning-3,#general-conditioning-2{
     background-repeat: no-repeat;
    background-position: 10% 10%;
     background-size: cover;
}


#assessment-img{

   margin-bottom:0; 
   background-position: 60% 25%; 
    background-size: cover; 
}

}
.fa-heartbeat{
    color: red;

}

.fa-hand-paper-o{
    color: hsla(49, 85%, 45%, 0.67);

}

.fa-user-secret{
    color: $black-color;

}

.fa-thumbs-up{
    color: $filter-blue;

}

.fa-hand-peace-o{
    color: $brand-primary;

}


#pop-2{
    max-width:770px;
}

.popover {
  padding: 0;
  border-radius: 10px;
  z-index: 1031;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popover-title {
  font-size: 16px;
  background-color: rgba(91, 202, 255, 0.98);
  font-weight: normal;
  line-height: 22px;
  padding: 8px 15px;
  margin: 0;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.popover-content {
  padding: 9px 15px;
  margin-bottom: 5px;
}
.popover .arrow {
  border: 0;
}
.popover.top .arrow {
  margin-left: 0;
}
.popover.bottom .arrow:after {
  border-bottom-color: rgba(91, 202, 255, 0.98);
}
.popover-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.popover-filter.in {
  visibility: visible;
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition-delay: 0s;
}
