<!-- Portfolio Modal 4 -->


    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Unlimited access to all of Reel Movement's Programs</h2>
                            <p class="item-intro text-muted">Hours of footage you can watch anywhere</p>
                             <%= image_tag "workout.jpg", class: "img-responsive"  %> 
                            <p>
                                Each program is designed to help you reach your goals. The first step is to take our free <b> fitness assessment </b> and find a program tailored to your needs. Then you just have to put in the work and the results will come. Of course, you can change your program anytime you would like. We are here to help you every step of the way <i class="icon-happy"></i>  
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Corrective Exercise</h2>
                            <p class="item-intro text-muted">Fix your muscles imbalances and improve your posture </p>
                            <%= image_tag "correctiveexercise.jpg", class: "img-responsive"  %> 
                            <p>We are spending hours doing repetive movements all day that create muscle imbalances and wreak havoc all over our body. Maybe, you spend hours sitting crunching numbers, writing a paper on your computer, or your at home with the kids cooking and cleaning. Regardless, all this repetive movement can lead to pain and muscle imbalances. Help us find a program for you and lets get rid of some of these mucsle imbalances <i class="icon-happy"></i>  </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Healthy Recipes</h2>
                            <p class="item-intro text-muted">Learn to cook from professional chefs</p>
                           <%= image_tag "cleaneating.jpg", class: "img-responsive"  %>
                            <p>
                                Who knows where to start when it comes to making healthy meals <i class="icon-sad"></i> That is where Reel Movement comes in. All you need to do is find a meal you want to learn how to cook and voila. A chef will guid you every step of the way. So what are you waiting for <i class="fa fa-cutlery"></i> 
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
