<div id="corrective-one" class="white-popup video-container mfp-hide">
  <%= raw Program.find_by_title("Excessive squat with a forward lean").code_one %> 
</div>


  <div id="recipe-two" class="white-popup video-container mfp-hide">
  
</div>

