<div id="corrective-one" class="white-popup video-container mfp-hide">
  <%= raw Program.find_by_title("Excessive squat with a forward lean").code_one %> 
</div>


  <div id="rounded-shoulders" class="white-popup video-container mfp-hide">
  	<%= raw Program.find_by_title("rounded shoulders").code_one %> 
</div>

 <div id="knee-valgus" class="white-popup video-container mfp-hide">
  	<%= raw Program.find_by_title("Squats with knees moving inward").code_one %> 
</div>

