 <footer class="footer-big footer-default">
        <div class="container foot">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com/product/get-shit-done-pro">
                            Get Shit Done Pro
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="social-area pull-right">       
                
                <button class="btn btn-social btn-fill btn-facebook">
                    <i class="fa fa-facebook"> </i>
                </button>

                <button class="btn btn-social btn-fill btn-youtube">
                     <i class="fa fa-youtube-play"> </i>
                 </button>


                 <button class="btn btn-social btn-fill btn-google">
                    <i class="fa fa-instagram"> </i>
                 </button>

            </div>
            <div class="copyright text-center">
                &copy; 2015 Reel Movement LLC
            </div>
        </div>
    </footer>