 <footer class="footer footer-black">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com/product/get-shit-done-pro">
                            Get Shit Done Pro
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="social-area pull-right">       
                <a class="btn btn-social btn-behance btn-simple" href="https://twitter.com/CreativeTim">
                    <i class="fa icon-instagram"></i>
                </a>         
                <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/CreativeTim">
                    <i class="fa icon-facebook"></i>
                </a>
                <a class="btn btn-social btn-youtube btn-simple" href="https://plus.google.com/+CreativetimPage">
                    <i class="fa icon-youtube"></i>
                </a>

            </div>
            <div class="copyright">
                &copy; 2015 Reel Movement LLC
            </div>
        </div>
    </footer>