 <footer class="footer-big footer-black">
        <div class="container foot">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com/product/get-shit-done-pro">
                           Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com">
                           Terms of agreement
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Privacy policy
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="social-area pull-right">       
                
                <a href="https://www.facebook.com/Reel-Movement-534012316728422/" target="_blank">
                <button class="btn btn-social btn-fill btn-facebook">
                    <i class="fa fa-facebook"> </i>
                </button>
                </a>

                 <a href="https://www.facebook.com/Reel-Movement-534012316728422/" target="_blank">
                <button class="btn btn-social btn-fill btn-youtube">
                     <i class="fa fa-youtube-play"> </i>
                 </button>
                 </a>

                  <a href="https://www.instagram.com/reelmovement/" target="_blank">
                 <button class="btn btn-social btn-fill btn-google">
                    <i class="fa fa-instagram"> </i>
                 </button>
                 </a>

            </div>
            <div class="copyright text-center">
                &copy; 2015 Reel Movement LLC
            </div>
        </div>
    </footer>