    <footer class= "footer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; 2016 Reel Movement LLC</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>  <a href="https://www.facebook.com/Reel-Movement-534012316728422/" target="_blank">
                <button class="btn btn-social btn-fill btn-facebook">
                    <i class="fa fa-facebook"> </i>
                </button>
                </a>
                        </li>
                        <li><a href="https://www.facebook.com/Reel-Movement-534012316728422/" target="_blank">
                <button class="btn btn-social btn-fill btn-youtube">
                     <i class="fa fa-youtube-play"> </i>
                 </button>
                 </a>
                        </li>
                        <li><a href="https://www.instagram.com/reelmovement/" target="_blank">
                 <button class="btn btn-social btn-fill btn-google">
                    <i class="fa fa-instagram"> </i>
                 </button>
                 </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="/privacy_policy">Privacy Policy</a>
                        </li>
                        <li><a href="/terms">Terms of Use</a>
                        </li>
                        <li><a href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
