 <div id="program-one" class="white-popup video-container mfp-hide">
  <%= raw current_user.program.code_two %> 
</div>


  <div id="program-two" class="white-popup video-container mfp-hide">
  <%= raw current_user.program.code_three %> 
</div>



  <div id="program-three" class="white-popup video-container mfp-hide">
  <%= raw current_user.program.code_three %> 
</div>





