<div id="recipe-one" class="white-popup video-container mfp-hide">
  <%= raw Recipe.first.code %> 
</div>


  <div id="recipe-two" class="white-popup video-container mfp-hide">
  <%= raw Recipe.find(2).code %> 
</div>

